
@import "global/_variable.scss";

$--background-color-base: $main-color-bg;
$--color-text-primary: $main-color-fg;

$--color-primary: $primary-color-bg;
@import "~element-ui/packages/theme-chalk/src/index";